<div class="bg-white shadow-md rounded-lg border border-gray-200 hover:border-blue-500 p-6 transition-all duration-300">
    <turbo-frame id="product_<%= @product.id %>">
        <%= render ProductCardContentComponent.new(product: @product) %>
    </turbo-frame>
</div>
